.circle-edit {
  margin-top: 30px;
  margin-bottom: -10px;
  display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 80px; /* Double the size */
    height: 80px; /* Double the size */
    border-radius: 50%;
    background-color: #f0f0f0;
    font-size: 32px; /* Adjust font size to maintain emoji size */
}
.circle-delete-btn{
  margin-left: 10px;
  margin-right: -10px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 45px;
  height: 45px;
  border-radius: 50%;
  background-color: #f0f0f0;
  font-size: 15px;
}

.users-search-container {
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.wishlist-button {
  color: #fff;
  background-color: #007bff;
  border-color: #007bff;
}
.flex-center{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.flex-row-center{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.flex-row-center{
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 100px;
}
.grid-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, 20vw);
    padding: 1vw;
    justify-content: center;
    gap: 1vw;
  }
  
  .grid-item {
    border: 1px solid black;
    border-radius: 20px;
    overflow: hidden;
    font-size: 30px;
    text-align: center;

  }

  .border-bottom{
    border-bottom: 1px solid black;
  }

  .neatYellow{
    background-color: rgb(231, 182, 19);
  }
  .shiny{
    background: linear-gradient(to right, rgba(0, 0, 0, 0.9) 20%, rgb(231, 182, 19) 50%,rgba(0, 0, 0, 0.9) 100%);
  }
  .themeColor{
    background-color: #0D67B5;
  }
  .disappear{
    display: none;
  }

  button img {
    position: relative;
    width: 50px;
    height: 30px;
    margin-right: 10px;
  }
  
  .signin-options{
    display: flex;
    flex-direction: column;
    align-items: center;
  }
