<html>
    <body>
        <div class="grid-item flight-template;">
            <div
                style="height:40vh;background-image: url('./images/destination/newYorkCity.jpeg');background-size:cover;">
            </div>
            <div class="flight-title"></div>
            <div class="price"></div>
            <div class="content">
                <div class="origin border-bottom"></div>
                <div class="destination border-bottom"></div>
                <div class="departure border-bottom"></div>
                <div class="arrival border-bottom"></div>
                <div class="connection"></div>
            </div>
        </div>
    </body>
</html>