<div id="flight-template" class="card flex-center" style="width: 15vw;display: none;box-shadow: 1px 1px 1px 1px solid gray;">
    <img src="./images/destination/crete.jpg" class="card-img-top destination-photo" alt="..." height="200px">
    <div class="flight-header card-body">
        <div class="flight-title"></div>
        <div class="price"></div>
    </div>
    <ul class="content list-group list-group-flush flex-center">
        <div class="origin border-bottom"></div>
        <div class="destination border-bottom"></div>
        <div class="departure border-bottom"></div>
        <div class="arrival border-bottom"></div>
        <div class="connection"></div>
    </ul>
    <div class="card-body">
      <a href="#" class="card-link">Card link</a>
      <a href="#" class="card-link">Another link</a>
    </div>
</div>