<html>

<head>
  <link rel="stylesheet" href="index.css">
  <link rel="stylesheet" href="../node_modules/bootstrap/dist/css/bootstrap.min.css">
  <script src="../node_modules/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
</head>

<body>
  <div class="flex-center">
    <div id="manual-register" class="flex-center" style="border: 1px solid #0D67B5;border-bottom-left-radius: 20px;border-bottom-right-radius: 20px;">
      <img src="./images/icon/Skylift.jpeg" width="100%">
      <h1>LOGIN</h1>
      <label for="email">Enter your email address:</label>
      <input type="email">
      <label for="password">enter your password:</label>
      <input type="password">
      <button type="submit" class="btn btn-primary">Login</button>
    </div>
  </div>
  <script>
  </script>
</body>

</html>