<div id="add-flight-form" class="flex-center add-flight-class">
    <h1>ADD FLIGHT FORM</h1>
    <input type="text" placeholder="title" id="newFlightTitle">
    <input type="number" placeholder="price" id="newFlightPrice">
    <input type="text" placeholder="company" id="newFlightCompany">
    <input type="text" placeholder="origin" id="newFlightOrigin">
    <label>choose destination</label>
    <select id="newFlightDestination" type="text" placeholder="destination" id="newFlightDestination2">
        <option value="newYork">New York</option>
        <option value="amsterdam">Amsterdam</option>
        <option value="crete">Crete</option>
        <option value="paris">Paris</option>
        <option value="rome">Rome</option>
        <option value="telAviv">Tel Aviv</option>
    </select>
    <input type="date" placeholder="departTime" id="departTime">
    <input type="date" placeholder="estimatedTimeOfArrival" id="newFlightEstimatedTimeOfArrival">
    <button id="add-flight-btn" >ADD FLIGHT</button>
</div>