<div style="display: flex; justify-content: center; align-items: center; height: 45vh;">
    <div style="width: 400px; padding: 20px; border: 1px solid #ccc; border-radius: 10px; box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);">
        <div class="mb-3">
            <input type="text" class="form-control" placeholder="Title" id="newFlightTitle">
        </div>
        <div class="mb-3">
            <input type="number" class="form-control" placeholder="Price" id="newFlightPrice">
        </div>
        <div class="mb-3">
            <input type="text" class="form-control" placeholder="Company" id="newFlightCompany">
        </div>
        <div class="mb-3">
            <label for="newFlightOrigin" class="form-label">From</label>
            <select class="form-select" id="newFlightOrigin">
                <option value="newYork">New York</option>
                <option value="amsterdam">Amsterdam</option>
                <option value="crete">Crete</option>
                <option value="paris">Paris</option>
                <option value="rome">Rome</option>
                <option value="telAviv">Tel Aviv</option>
            </select>
        </div>
        <div class="mb-3">
            <label for="newFlightDestination" class="form-label">Choose Destination</label>
            <select class="form-select" id="newFlightDestination">
                <option value="newYork">New York</option>
                <option value="amsterdam">Amsterdam</option>
                <option value="crete">Crete</option>
                <option value="paris">Paris</option>
                <option value="rome">Rome</option>
                <option value="telAviv">Tel Aviv</option>
            </select>
        </div>
        <div class="mb-3">
            <input type="date" class="form-control" id="departTime">
        </div>
        <div class="mb-3">
            <input type="date" class="form-control" placeholder="Estimated Time of Arrival" id="newFlightEstimatedTimeOfArrival">
        </div>
        <button class="btn btn-primary" id="add-flight-btn" disabled >ADD FLIGHT</button>
    </div>
</div>
