<nav class="navbar bg-body-tertiary" data-bs-theme="dark" style="margin-top: 10px; border-radius: 25px;">
    <div class="container-fluid justify-content-evenly">
        <form class="d-flex align-items-center" role="search">
            <div class="form-floating" style="margin-right: 5px;">
                <input type="text" class="form-control" id="cityName-input">
                <label for="cityName-input">City Name</label>
            </div>
            <div class="form-floating"style="margin-right: 5px;">
                <input type="text" class="form-control" id="country-input">
                <label for="country-input">Country</label>
            </div>
            <div class="form-floating" style="margin-right: 5px;">
                <input type="text" class="form-control" id="airport-input">
                <label for="airport-input">Airport</label>
            </div>
            <div class="form-floating">
                <button class="btn btn-lg btn-outline-info" id="add-location-submit">ADD NEW LOCATION</button>
            </div>
        </form>
    </div>
</nav>

<nav class="navbar bg-body-tertiary" data-bs-theme="dark" style="margin-top: 10px; border-radius: 25px;">
<div class="locations-container-lo">
    <h1 class="allLocaitions-text" style="text-align: center; color: rgb(245, 245, 245);"></h1>
    <div id="spaceForEditLocation"></div>
    <div id="locations-container" ></div>
</div>
</nav>