<nav class="navbar bg-body-tertiary" data-bs-theme="dark">
    <div class="container-fluid justify-content-evenly">
        <form class="d-flex align-items-center " role="search">
            <div class="form-floating">
                <input type="text" class="form-control" id="cityName-input">
                <label for="cityName-input">cityName</label>
            </div>
            <div class="form-floating">
                <input type="text" class="form-control" id="country-input">
                <label for="country-input">Country</label>
            </div>
            <div class="form-floating">
                <button class="btn btn-lg btn-outline-info" id="add-location-submit">ADD NEW LOCATION</button>
            </div>
        </form>
    </div>
</nav>