
<div id="allFlight-template" class="card" style="width: 15vw;display: none;">
    <img src="" class="destination-photo" alt="..." height="200px" width="100%"
      style="max-height: 200px;">
    <div class="flight-header card-body">
      <div class="flight-title"></div>
      <div class="price"></div>
    </div>
    <ul class="content list-group list-group-flush">
      <div class="origin border-bottom"></div>
      <div class="destination border-bottom"></div>
      <div class="departure border-bottom"></div>
      <div class="arrival border-bottom"></div>
    </ul>
    <div class="card-body">
      <button class="btn btn-success buy-button" style="display: inline-block;">Add To Cart &#128722</button>
      <button class="btn btn-info edit-button"><i class="fas fa-edit" style="display: inline-block;"></i> Edit &#9999</button>
      <button class="btn btn-danger delete-button delete-flight-btn" style="display: inline-block;"><i class="fas fa-trash"></i> Delete &#128465</button>
      <button class="btn btn-success popular-button" style="display: inline-block;">Popular &#128721</button>
    </div>
</div>
