<div class="container">
  <div class="d-flex flex-column align-items-center">
    <h1>CART ITEMS</h1>
    <ol>
      <!--TODO: export as component: Cart-Item-->
      <li style="margin: 5px;">
        <div class="border p-3 bg-light d-flex flex-row align-items-center">
          <input type="checkbox" class="form-check-input me-3">
          <div>
            <h2>Tel Aviv to New York</h2>
            <p>Leaving: 23/7/2023 09:50</p>
            <p>ETA: 23/7/2023 13:40</p>
            <p>Airline: El Al</p>
            <p>Price: 599$</p>
          </div>
          <span class="ms-auto">
            <h2>&#10060</h2>
          </span>
        </div>
      </li>
      <!--TODO: export as component: Cart-Item-->
      <li style="margin: 5px;">
        <div class="border p-3 bg-light d-flex flex-row align-items-center">
          <input type="checkbox" class="form-check-input me-3">
          <div>
            <h2>Tel Aviv to New York</h2>
            <p>Leaving: 23/7/2023 09:50</p>
            <p>ETA: 23/7/2023 13:40</p>
            <p>Airline: El Al</p>
            <p>Price: 599$</p>
          </div>
          <span class="ms-auto">
            <h2>&#10060</h2>
          </span>
        </div>
      </li>
      <!--TODO: export as component: Cart-Item-->
      <li style="margin: 5px;">
        <div class="border p-3 bg-light d-flex flex-row align-items-center">
          <input type="checkbox" class="form-check-input me-3">
          <div>
            <h2>Tel Aviv to New York</h2>
            <p>Leaving: 23/7/2023 09:50</p>
            <p>ETA: 23/7/2023 13:40</p>
            <p>Airline: El Al</p>
            <p>Price: 599$</p>
          </div>
          <span class="ms-auto">
            <h2>&#10060</h2>
          </span>
        </div>
      </li>
    </ol>
    <button type="button" class="btn btn-success" id="purchaseButton">Click to commit purchase &#128722</button>
  </div>
</div>
