<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div style="display: flex;flex-direction: column;align-items: center;">
        CART ITEMS
        <ol>
            <!--TODO: export as component: Cart-Item-->
            <li style="margin: 5px;">
                <div style="border: 1px solid black; background-color: rgb(224, 224, 217);display: flex;flex-direction: row;">
                    <span style="border-right: 1px solid black;padding: 20px;"><h2>Tel Aviv to New York</h2></span>
                    <span style="border-right: 1px solid black;padding: 20px;"><h2>Leaving: 23/7/2023 09:50</h2></span>
                    <span style="border-right: 1px solid black;padding: 20px;"><h2>ETA: 23/7/2023 13:40</h2></span>
                    <span style="border-right: 1px solid black;padding: 20px;"><h2>Airline: El Al</h2></span>
                    <span style="border-right: 1px solid black;padding: 20px;"><h2>Price: 599$</h2></span>
                    <span style="padding: 20px;"><h2>&#10060 </h2></span>
                </div>
            </li>
            <!--TODO: export as component: Cart-Item-->
            <li style="margin: 5px;">
                <div style="border: 1px solid black; background-color: rgb(224, 224, 217);display: flex;flex-direction: row;">
                    <span style="border-right: 1px solid black;padding: 20px;"><h2>Tel Aviv to New York</h2></span>
                    <span style="border-right: 1px solid black;padding: 20px;"><h2>Leaving: 23/7/2023 09:50</h2></span>
                    <span style="border-right: 1px solid black;padding: 20px;"><h2>ETA: 23/7/2023 13:40</h2></span>
                    <span style="border-right: 1px solid black;padding: 20px;"><h2>Airline: El Al</h2></span>
                    <span style="border-right: 1px solid black;padding: 20px;"><h2>Price: 599$</h2></span>
                    <span style="padding: 20px;"><h2>&#10060 </h2></span>
                </div>
            </li>
            <!--TODO: export as component: Cart-Item-->
            <li style="margin: 5px;">
                <div style="border: 1px solid black; background-color: rgb(224, 224, 217);display: flex;flex-direction: row;">
                    <span style="border-right: 1px solid black;padding: 20px;"><h2>Tel Aviv to New York</h2></span>
                    <span style="border-right: 1px solid black;padding: 20px;"><h2>Leaving: 23/7/2023 09:50</h2></span>
                    <span style="border-right: 1px solid black;padding: 20px;"><h2>ETA: 23/7/2023 13:40</h2></span>
                    <span style="border-right: 1px solid black;padding: 20px;"><h2>Airline: El Al</h2></span>
                    <span style="border-right: 1px solid black;padding: 20px;"><h2>Price: 599$</h2></span>
                    <span style="padding: 20px;"><h2>&#10060 </h2></span>
                </div>
            </li>
        </ol>
    </div>
</body>
</html>