<div class="card-cart-comp-style" style="display: none;">
  <div id="cart-flight-item-container">
      <div class="div-1-1">
          <div class="div-1-2" style="margin: 5px;">
            <div class="head-cart-temp border p-3 bg-light d-flex flex-row align-items-center ">
              <div class="div-1-3">
                <h2 class="fromwhere-to-where"></h2>
                <p class="date-leaving"></p>
                <p class="date-arriving"></p>
                <p class="airline-company"></p>
                <p class="flight-price"></p>
              </div>
              <button type="button" class="btn btn-outline-danger delete-cart-component">Delete</button>
            </div>
          </div>
        </div>
  </div>
</div>
