<button type="button" class="btn btn-outline-info go-back-to-cart-btn" style="margin-top: 5px;">Back To Cart</button>

<div class="container mt-5">
    <h1 class="mb-4">Flights Checkout</h1>
    <div class="row">
      <div class="col-md-8">
        <div id="here-add-checkout-items-component"></div>
        <!-- will load all checkout flights -->
      </div>
      <div class="col-md-4">
        <h2>Payment</h2>
        <div class="border p-3 bg-light">
          <form>
            <div class="mb-3">
              <label for="name" class="form-label">Full Name</label>
              <input type="text" class="form-control" id="name" >
            </div>
            <div class="mb-3">
              <label for="cardNumber" class="form-label">Credit Card Number</label>
              <input type="text" class="form-control" id="cardNumber" >
            </div>
            <div class="mb-3">
              <label for="expiry" class="form-label">Expiration Date</label>
              <input type="text" class="form-control" id="expiry" >
            </div>
            <div class="mb-3">
              <label for="cvv" class="form-label">CVV</label>
              <input type="text" class="form-control" id="cvv" >
            </div>
            <button type="submit" class="btn btn-success btn-block">Complete Purchase &#128722;</button>
          </form>
        </div>
      </div>
    </div>
</div>
