
<div class="card-checkout-style" style="display: none;">
<div class="border p-3 bg-light mb-3 " id="checkout-component-items" >
    <div class="d-flex flex-row align-items-center div-1-in">
      <div class="div-2-in">
        <h3 class="fromwhere-to-where">Tel Aviv to New York</h3>
        <p class="date-leaving">Leaving: 23/7/2023 09:50</p>
        <p class="date-arriving">ETA: 23/7/2023 13:40</p>
        <p class="airline-company">Airline: El Al</p>
        <p class="flight-price">Price: 599$</p>
      </div>
    </div>
</div>
</div>