
<div class="container">
  <div class="row justify-content-center">
    <div class="col-md-6">
      <div class="form-container">
        <h2 class="mb-4">Edit Flight</h2>
          <div class="mb-3">
            <label for="title" class="form-label">Title</label>
            <input type="text" class="form-control" id="title" name="title">
          </div>
          <div class="mb-3">
            <label for="price" class="form-label">Price</label>
            <input type="text" class="form-control" id="price" name="price">
          </div>
          <div class="mb-3">
            <label for="company" class="form-label">Company</label>
            <input type="text" class="form-control" id="company" name="company">
          </div>
          <div class="mb-3">
            <label for="origin" class="form-label">Origin</label>
            <input type="text" class="form-control" id="origin" name="origin">
          </div>
          <div class="mb-3">
            <label for="destination" class="form-label">Destination</label>
            <input type="text" class="form-control" id="destination" name="destination">
          </div>
          <div class="mb-3">
            <label for="departTime" class="form-label">Departure Time</label>
            <input type="text" class="form-control" id="departTime" name="departTime">
          </div>
          <div class="mb-3">
            <label for="estimatedTimeOfArrival" class="form-label">Estimated Time of Arrival</label>
            <input type="text" class="form-control" id="estimatedTimeOfArrival" name="estimatedTimeOfArrival">
          </div>
          <div class="mb-3">
            <label for="imageUrl" class="form-label">Image URL</label>
            <input type="text" class="form-control" id="imageUrl" name="imageUrl">
          </div>
          <button id="edit-flight-btn" class="btn btn-primary">Save Changes</button>
      </div>
    </div>
  </div>
</div>