
<div class="container mt-5">
        <h2>Edit Your Information Here</h2>
        <form>
            <div class="mb-3">
                <label for="fullName" class="form-label">Full Name</label>
                <input type="text" class="form-control" id="fullName-editinfo" name="fullName" >
            </div>
            <div class="mb-3">
                <label for="phoneNumber" class="form-label">Phone Number</label>
                <input type="tel" class="form-control" id="phoneNumber-editinfo" name="phoneNumber">
            </div>
            <div class="mb-3">
                <label for="password" class="form-label">Password</label>
                <input type="password" class="form-control" id="password-editinfo" name="password" required>
            </div>
            <div class="mb-3">
                <label for="confirmPassword" class="form-label">Confirm Password</label>
                <input type="password" class="form-control" id="confirmPassword-editinfo" name="confirmPassword" required>
            </div>
            <button type="submit" class="btn btn-primary">Save Changes</button>
        </form>
</div>

