<div id="flight-template" class="card" style="width: 15vw;display: none;">
    <div data-bs-theme="dark">
        <button type="button" class="btn-close" id="deleteButton" aria-label="Close"></button>
    </div>
    <img src="./images/destination/crete.jpg" class="destination-photo" alt="..." height="200px" width="100%"
        style="max-height: 200px;">
    <div class="flight-header card-body">
        <div class="flight-title"></div>
        <div class="price"></div>
    </div>
    <ul class="content list-group list-group-flush">
        <div class="origin border-bottom"></div>
        <div class="destination border-bottom"></div>
        <div class="departure border-bottom"></div>
        <div class="arrival border-bottom"></div>
        <div class="connection"></div>
    </ul>
    <div class="card-body">
        <a href="#" class="card-link">View</a>
    </div>
</div>