
<div class="card">
  <style>
    .card-body{
      text-align: center;
      margin-left: 5px;
    }
    .card {
        border: 1px solid #ccc;
        border-radius: 10px;
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
        margin: 10px;
        transition: transform 0.2s;
    }
  
    .card:hover {
        transform: scale(1.02);
    }
  
    .card-title {
        font-size: 40px;
        margin-bottom: 5px;
    }
  
    .card-text {
        font-size: 18px;
        margin-bottom: 10px;
    }
  
    .delete-button {
        border-color: #dc3545;
        color: #dc3545;
        border-radius: 5px;
        font-size: 14px;
        transition: background-color 0.2s, color 0.2s;
    }
  
    .delete-button:hover {
        background-color: #dc3545;
        color: white;
    }
  
    .card-img {  
      object-fit: cover;
        height: 20%; 
        border-radius: 10px;
        margin-bottom: 5px;
        margin-left: 5px;
    }
  </style>
  
  <div class="d-flex">
      <div class="flex-grow-1">
          <div class="card-body">
            <h4 id="country-name" class="card-title" style="margin-top: 0px;">country : israel</h4>
              <h4 id="city-name" class="card-city" style="margin-top: 5px; font-size: 30px">city : or yehuda</h4>
              <h5 id="airport" class="card-text" style="margin-bottom: -20px; margin-top: -30px;"> airport : ben gurion</h5>
              <h5 id="international" class="card-text" >international : yse</h5>
              <button type="button" class="btn btn-outline-danger delete-button" style="margin-bottom: 5px;">delete</button>
          </div>
      </div>
      <div class="pl-3 card-head">
          <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/7/7a/View_of_Empire_State_Building_from_Rockefeller_Center_New_York_City_dllu_%28cropped%29.jpg/1200px-View_of_Empire_State_Building_from_Rockefeller_Center_New_York_City_dllu_%28cropped%29.jpg" alt="Location Image" class="card-img-location card-img">
      </div>
  </div>
</div>

