<div id="location-template" class="container mt-5" >
    <!-- Location Details Component (hidden by default) -->
    <div id="location-details" style="display: none;">
      <div class="card border-primary mb-3 w-25">
        <div class="card-header bg-primary text-white">
          Location Details
        </div>
        <div class="card-body">
          <h4 id="city-name" class="card-title"></h4>
          <h4 id="country-name" class="card-title"></h4>
          <h5 id="airport" class="card-text"></h5>
          <h5 id="flight-type" class="card-text"></h5>
          <button type="button" class="btn btn-outline-danger-delete"></button>
        </div>
      </div>
    </div>
</div>
