<html>
<body>
  <div class="flex-center">
    <div id="manual-register" class="flex-center" style="border: 1px solid #0D67B5;border-bottom-left-radius: 20px;border-bottom-right-radius: 20px;">
      <img src="./images/icon/Skylift.jpeg" width="100%">
      <h1>LOGIN</h1>
      <label for="email">Enter your email address:</label>
      <input type="email" id="login-email-input">
      <label for="password">enter your password:</label>
      <input type="password" id="login-password-input">
      <button id="login-submit" disabled class="btn btn-primary">Login</button>
    </div>
  </div>
</body>
</html>