
  <div class="container mt-5 " id="moreinfo-container">
    <button type="button" class="btn btn-primary btn-gobacktosearchuser">Go Back To Search Users</button>
    <div class="row">
      <div class="col-md-4">
        <div class="card mb-4">
          <div class="card-header">
            Past Flights
          </div>
          <div class="card-body pastFlight-moreinfo">
            <!-- Content for Flight 1 goes here -->
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card mb-4">
          <div class="card-header">
            Cart
          </div>
          <div class="card-body cart-moreinfo">
            <!-- Content for Flight 2 goes here -->
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card mb-4">
          <div class="card-header">
            Future Flights
          </div>
          <div class="card-body futureFlights-moreinfo">
            <!-- Content for Flight 3 goes here -->
          </div>
        </div>
      </div>
    </div>
  </div>