
    <div class="container mt-5">
        <div class="row justify-content-center">
            <div class="col-md-6">
                <div class="card">
                    <div class="card-body">
                        <h4 class="card-title">Verify It's You</h4>
                        <form>
                            <div class="form-group">
                                <input type="password" class="form-control" id="passwordInput-foredit" placeholder="Enter your password">
                            </div>
                            <button type="submit" class="btn btn-primary continue-btn-for-edit" style="margin-top: 5px;">Continue</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

