<nav class="navbar bg-body-tertiary" data-bs-theme="dark">
    <div class="container-fluid justify-content-evenly">
        <form class="d-flex align-items-center " role="search">

            <div class="form-floating dropdown">
                <input type="text" class="form-control" id="destinationInput" data-bs-toggle="dropdown"
                    aria-expanded="false" autocomplete="off">
                <label for="destinationInput">Destination</label>
                <ul class="dropdown-menu" id="destination-dropdown" style="width: 100%;">
                </ul>
            </div>

            <div class="form-floating dropdown">
                <input type="text" class="form-control" id="originInput" data-bs-toggle="dropdown"
                    aria-expanded="false" autocomplete="off">
                <label for="originInput">Origin</label>
                <ul class="dropdown-menu" id="origin-dropdown" style="width: 100%;">
                </ul>
            </div>

            <div class="form-floating">
                <input type="date" class="form-control" id="departureDate">
                <label for="departureDate">Depart:</label>
            </div>
            <div class="form-floating">
                <input type="date" class="form-control" id="arrivalDate">
                <label for="arrivalDate">Arrival:</label>
            </div>
            <div class="form-floating">
                <button class="btn btn-lg btn-outline-info" id="navSubmit">Search</button>
            </div>
        </form>
    </div>
</nav>