<nav class="navbar bg-body-tertiary" data-bs-theme="dark">
    <div class="container-fluid justify-content-evenly">
        <form class="d-flex align-items-center " role="search">
            <div class="form-floating dropdown">
                <input type="text" class="form-control" id="destinationInput" data-bs-toggle="dropdown"
                    aria-expanded="false" autocomplete="off">
                <label for="destinationInput">Destination</label>
                <ul class="dropdown-menu" id="destination-dropdown" style="width: 100%;">
                </ul>
            </div>

            <div class="form-floating dropdown">
                <input type="text" class="form-control" id="originInput" data-bs-toggle="dropdown"
                    aria-expanded="false" autocomplete="off">
                <label for="originInput">Origin</label>
                <ul class="dropdown-menu" id="origin-dropdown" style="width: 100%;">
                </ul>
            </div>

            <div class="form-floating">
                <input type="date" class="form-control" id="departureDate">
                <label for="departureDate">Depart:</label>
            </div>
            <div class="form-floating">
                <input type="date" class="form-control" id="arrivalDate">
                <label for="arrivalDate">Arrival:</label>
            </div>
            <div class="form-floating">
                <button class="btn btn-lg btn-outline-info" id="navSubmit">Search</button>
            </div>
        </form>
    </div>
    <div class="btn-group" style="margin-left: 10px; margin-bottom: 5px;">
        <button type="button" class="btn btn-danger dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
            <div style="display: inline-block; 
            cursor: pointer;">
                <div class="bar1"></div>
                <div class="bar2"></div>
                <div class="bar3"></div>
            </div>
        </button>
        <ul class="dropdown-menu">
            <li><a class="dropdown-item" onclick="loadMainComponent('popularDeals')">Hot Deals</a></li>
            <li>
                <hr class="dropdown-divider">
            </li>
            <!-- TODO -->
            <li><a class="dropdown-item" onclick="loadMainComponent('userpage')">Account</a></li>

            <li>
                <hr class="dropdown-divider">
            </li>

            <li><a class="dropdown-item" onclick="loadMainComponent('register')">Register</a></li>

            <li>
                <hr class="dropdown-divider">
            </li>

            <li><a class="dropdown-item" onclick="loadMainComponent('login')">Login</a></li>

            <li>
                <hr class="dropdown-divider">
            </li>

            <li><a class="dropdown-item" onclick="loadMainComponent('cart')">Cart</a></li>

            <li>
                <hr class="dropdown-divider">
            </li>

            <li><a class="dropdown-item" onclick="loadMainComponent('searchUsers')">Search User</a></li>
            <li>
                <hr class="dropdown-divider">
            </li>

            <li><a class="dropdown-item" onclick="loadMainComponent('addFlight')">Add addFlight
            </a></li>

            <li>
                <hr class="dropdown-divider">
            </li>

            <li><a class="dropdown-item" onclick="loadMainComponent('addLocation')">Add location</a></li>
            
            <li>
                <hr class="dropdown-divider">
            </li>

            <li><a class="dropdown-item" onclick="loadMainComponent('whishlist')">Wishlist</a></li>
            
        </ul>
    </div>
    <span id="userIdentitySpan" style="color: white;">user: Guest</span>
</nav>