<!DOCTYPE html>
<html>
<head>
    <title>Users Search</title>
    <style>
        .users-search-container {
            padding: 20px;
            border: 1px solid #ccc;
            border-radius: 5px;
        }
        .green-button {
        background-color: green !important;
        }
    </style>
</head>
<body>
    <div class="container mt-5">
        <div class="row justify-content-center">
            <div class="col-md-6">
                <div class="users-search-container shadow">
                    <div class="users-search-title">Users Search</div>
                    <input id="searchUser-input" type="text" class="form-control mb-3" placeholder="Enter Email">
                    <button id="searchButton" class="btn btn-primary">Search</button>
                </div>
            </div>
        </div>
    </div>
    
    <h1 style="margin-top: 10px;" id="allusers-textop"></h1>
    <div id="all-users-container">

    </div>
    <script>
        const Button = document.getElementById("searchButton");
        Button.addEventListener("click", function() {
        Button.classList.add("green-button");
    });
    </script>

</body>
</html>
