<button type="button" class="btn btn-outline-info gobacktosearchuser" style="align-items: center;">Go Back To Search Users</button>

<div class="container mt-5">
    <div class="row justify-content-center">
       <div class="col-md-6">
            <div class="users-search-container shadow">
                <div class="tokens-search-title">Tokens Search</div>
                    <input id="searchTokens-input" type="text" class="form-control mb-3" placeholder="Enter ">
                    <button id="searchButton" class="btn btn-primary">Search</button>
                </div>
            </div>
        </div>
    </div>
    

    <h1 style="margin-top: 10px;">All Tokens</h1>

    <div id="all-tokens-container">

    </div>

