<div class="token-class-div">
<div class="card" id="card-token-template" style="display:none;">
    <div class="d-flex">
        <div class="flex-grow-1" >
            <div class="card-body card-body-tokens" >
                <h4 id="token-id" class="card-title"></h4>
                <h5 id="user" class="card-text"></h5>
                <h5 id="authorization" class="card-text"></h5>
                <h5 id="expired" class="card-text"></h5>
                <div class="d-flex justify-content-center">
                    <button type="button" class="btn btn-outline-danger-token delete-button" style="margin-bottom: 5px;">Delete</button>
                </div>
            </div>
        </div>
    </div>
</div>

<style>
     .card-body{
      margin-left: 5px;
    }
    .card {
        border: 1px solid #ccc;
        border-radius: 10px;
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
        margin: 10px;
        transition: transform 0.2s;
    }

    .card:hover {
        transform: scale(1.02);
    }

    .card-title {
        font-size: 24px;
        margin-bottom: 5px;
    }

    .card-text {
        font-size: 18px;
        margin-bottom: 10px;
    }

    .delete-button {
        border-color: #dc3545;
        color: #dc3545;
        border-radius: 5px;
        font-size: 14px;
        transition: background-color 0.2s, color 0.2s;
    }

    .delete-button:hover {
        background-color: #dc3545;
        color: white;
    }

    .card-img {
        object-fit: cover;
        height: 100%; /* Set the desired height */
        border-top-right-radius: 10px;
        border-bottom-right-radius: 10px;
    }
</style>
</div>