<div class="flex-center" style="border-radius: 10px;box-shadow: 1px 1px 1px 1px rgb(184, 183, 183);">
    <div>
        <div class="user-header">
            <div id="userName">Guest</div>
            <div id="userEmail">Guest</div>
        </div>
        <div class="user-stats">
            <div class="stat-box">
                <div class="stat-label">Total Miles </div>
                <div class="stat-value" id="totalMiles">0</div>
            </div>
            <div class="stat-box">
                <div class="stat-label">All Future Flights</div>
                <div class="stat-value" id="futureDealsSum">0</div>
            </div>
            <div class="stat-box">
                <div class="stat-label">All Past Flights</div>
                <div class="stat-value" id="pastFlights">0</div>
            </div>
        </div>

        <div class="stat-box" style="margin-top: 7px;">
            <div class="stat-label">cart &#128722</div>
            <div class="stat-value" id="cartSum">0</div>
        </div>

        <div class="flight-container">
            <h3>Last 3 Future Flights</h3>
            <ul class="flight-list">
                <li class="flight-item">Flight 1</li>
                <li class="flight-item">Flight 2</li>
                <li class="flight-item">Flight 3</li>
            </ul>
        </div>
        <div class="flight-container">
            <h3>Last 3 Past Flights</h3>
            <ul class="flight-list">
                <li class="flight-item">Past Flight 1</li>
                <li class="flight-item">Past Flight 2</li>
                <li class="flight-item">Past Flight 3</li>
            </ul>
        </div>
    </div>
</div>