<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Flight Wishlist</title>
</head>
<body>
    <h1>Flight Wishlist</h1>
    <lo style="margin: 5px;">
        <div class="border p-3 bg-light d-flex flex-row align-items-center">
          <div>
            <h2>Tel Aviv to New York</h2>
            <p>Leaving: 23/7/2023 09:50</p>
            <p>ETA: 23/7/2023 13:40</p>
            <p>Airline: El Al</p>
            <p>Price: 599$</p>
          </div>
          <span class="ms-auto">
            <h2>&#10060</h2>
          </span>
        </div>
    </lo>
</body>
</html>
