<div id="searchMenu" class="flex-row-center" style="color: white;border-top: 1px solid white;margin: 10px;padding: 10px;">
    <h1 style="color: white;">find a flight</h1>
    <div>
        <label for="originSearch">From?</label>
        <select id="originSearch">
            <option value="newYork">New York</option>
            <option value="amsterdam">Amsterdam</option>
            <option value="crete">Crete</option>
            <option value="paris">Paris</option>
            <option value="rome">Rome</option>
            <option selected value="telAviv">Tel Aviv</option>
        </select>
    </div>
    <div>
        <label for="destinationSearch">Where to?</label>
        <select id="destinationSearch">
            <option value="newYork">New York</option>
            <option value="amsterdam">Amsterdam</option>
            <option value="crete">Crete</option>
            <option value="paris">Paris</option>
            <option value="rome">Rome</option>
            <option value="telAviv">Tel Aviv</option>
        </select>
    </div>
    <div>
        <label for="departSearch">from date: </label>
    <input type="date" id="departSearch">
    </div>
    <div>
        <label for="arrivalSearch">arrive at date: </label>
        <input type="date" id="arrivalSearch">
    </div>
</div>